@font-face {
    font-display: swap;
    font-family: 'ff';
    font-style: normal;
    font-weight: 400;
    src: url('20011.ttf');
}

body {
    letter-spacing: 0.5px;
    font-family: 'ff';
    box-sizing: border-box;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin: 50px 0 30px;
    font-size: 36px;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
}

ol>li {
    margin-bottom: 30px;
    /* display: none; */
}

ul>li{
    margin: 5px;
}

p {
    margin: 0 0 5px 0;
}

.question p{
    font-size: 24px;
    display: block;
    margin: 10px;
    font-weight: 600;
}
.answer span {
    font-weight: 600;
}