:root {
    --orang: #FE9013;
    --green: #4B9200;
    --yellow: #FFEE2E;
    --red: #D31414;
    --black_blue: #333B41;
    --gray: #767474;
    --gray_smoky: #ABABAB;
    --light_gray: #F1F3F2;
  }
body{
    font-family: 'Roboto', sans-serif;
}
.op{
    border: #D31414 solid 2px;
}
.container{
    width: 1160px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
}
.j-center{
    justify-content: center;
}
.d-column{
    flex-direction: column;
}
.d-none{
    display: none;
}
.button-ellipse{
    background-color: var(--orang);
    padding: 16px 0;
    width: 298px;
    border-radius: 25px ;
    text-transform: uppercase;
    color: white;
    border: none;
}
.button-square{
    background-color: var(--orang);
    padding: 16px 0;
    width: 298px;
    border-radius: 5px ;
    text-transform: uppercase;
    color: white;
    border: none;
}
.button-ellipse:hover, .button-square:hover{
    background-color: #E47209;
}
.button-ellipse:active, .button-square:active{
    background-color: #4B9200;
}
h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 120%;
}
h3{
    font-size: 36px;
    font-weight: 400;
}
.p-bold{
    font-weight: bold;
}



header{
    background-color: #000000;
    height: 80px;
}
.al-center{
    align-items: center;
}
.a-logo{
    width: 82px;
    margin: 14px 0;
    transition: all 0.5s;
}
.a-logo:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.header-ul-a{
    text-decoration: none;
    color: white;
}
.header-ul-a:hover{
    color: var(--orang);
}
.header-ul-a-active{
    color: var(--orang);
    pointer-events: none;
}
header .container{
    justify-content: space-between;
}
.header-ul{
    padding: 0;
}
.header-ul li{
    margin-left: 58px;
    list-style: none;
}


.watch{
    background-image: url('assets/images/giant-panda.jpg');
    background-size: cover;
}
.watch-elem{
    padding-top: 12px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.watch-elem button{
    margin: 60px 100px 100px 0;
}


.backstage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 140px 0 180px 0;
}
.backstage-text{
    padding-left: 87px;
}
.backstage-text-h2{
    margin-bottom: 54px;
}
.backstage-text-h2 h2{
    margin-top: 0;
}
.backstage-text-sub h3{
    font-size: 24px;
}
.backstage-text-sub p{
    margin-bottom: 0;
}
.absolute-wrapp{
    position: relative;
}
.flower_foto1{
    position: absolute;
    right: 0;
    top: 0;
}


.pets-wrapper-card{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 28px;
    grid-row-gap: 18px;
    position: relative;
}
.pets-card{
    border-radius: 5px;
    border: solid 1px var(--orang);
}
.pets-card-img{
    border-radius: 5px 5px 0 0;
    transition: all 1s;
}
.pets-card-img-hover{
    transform: scale(1.2);
    transition: all 1s;
}
.pets-card h5{
    text-transform: uppercase;
    line-height: 140%;
    margin: 0;
}
.pets-description{    
    margin: 0 14px 0 16px;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
}
.pets-description-hover{
    border-radius: 0 0 5px 5px;
    margin-top: -100px;
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.2);
    transition: all 1s;
}
.pets-arrow{
    width: 62px;
    height: 62px;
    position: absolute;
    background-color: var(--orang);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pets-arrow-right{
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -82px;
}
.pets-arrow-left{
    top: 50%;
    left: -82px;
    transform: translateY(-50%) rotate(180deg);
}
.pets-arrow:hover{
    background-color: #E47209;
}.pets-arrow:active{
    background-color: #4B9200;
}
.pets-button-ellipse{
   display: flex;
   justify-content: center;
   margin-top: 80px;
}
.pets-wrapper{
    position: relative;
}
.pets-absolute{
   position: absolute;
   bottom: 0;
}
.palm_foto{
    left: 0;
}
.strelitzia_foto{
    right: 0;
}
.wrapper-pets-relativ{
    position: relative;
    padding-bottom: 100px;
}


.wrapper-pick-and-feed{
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);    
    padding: 69px 0 100px 0;
    margin-bottom: 120px;
}
.pick-and-feed{    
    background: rgba(253, 253, 255, 0.52);
    border-radius: 20px;
}
.pick-and-feed h2{
    color: var(--orang);
    margin: 0;
    padding-top: 41px;
}
.pick-and-feed h4{
    font-size: 24px;
    font-weight: 400;
    line-height: 120%;
    margin-left: 100px;
    margin-right: 100px;
}
.pick-and-feed p{
    line-height: 130%;
    margin-left: 100px;
    margin-right: 100px;
}
.pick-and-feed p a{
    color: black;
    text-decoration: none;
    border-bottom: var(--orang) 1px solid;
}
.pick-and-feed p a:hover{
    color: var(--orang);
}
.how-it-works{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.how-it-works h3{
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
}
.how-it-works-cards{
    align-items: center;
    justify-content: space-between;
}
.how-it-works-card{
    width: 168px;
}
.how-it-works-card-img{
    background-color: white;
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: solid 1px var(--orang);
    margin-bottom: 30px;
}
.arrow-work{
    margin: -80px 30px 0 30px;
}
.how-it-works form{
    margin: 60px 0;
}

.testimonials{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}
.testimonials-card{
    padding: 15px 15px 19px 15px;
    background-color: #F1F3F2;    
    border-radius: 20px;
    border: 2px solid rgba(243, 169, 248, 0.66);
    height: 360px;
    overflow: hidden;
}
.testimonials-card-logo img{
    margin: 10px;
}
.testimonials-location, .testimonials-day, .testimonials-point{
    font-weight: lighter;
    font-size: 15px;
    line-height: 120%;
    color: #BDBDBD;
}
.testimonials-card p {
    margin: 0;
    color: #767474;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
}
.testimonialsline-scroll{
    width: 600px;
    height: 8px;
    background: #F5F7F6;
    border-radius: 5px;
    margin: 21px 0 31px 0;
}
.testimonialsline-scroll-elem{
    width: 115px;
    height: 6px;
    background: #FE9013;
    border-radius: 5px;
    position:relative;    
    transition: all 0.5s;
}
.testimonialsline-scroll-elem:hover, .testimonialsline-scroll-elem:active{
    transform: scaleY(2);
    transition: all 0.5s;
}
.wrapper-relativ{
    position: relative;
    margin-top: 180px;
}
.wrapper-relativ img{
    position: absolute;
    right: 0;
    bottom: 0
}



footer{
    background-color:#111115;
    padding: 40px 0 50px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-donate .wrapper a img{
    transition: all 0.5s;
}
.footer-donate .wrapper a img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.footer-a{
    color: white;
    text-decoration: none;    
    line-height: 140%;
    margin: 10px 0;
}
.footer-a:hover{
    color: var(--green);
}
.footer-a-img{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d6d6d;
    border-radius: 50%;
    margin-right: 12px;
}
.footer-a-img-hover{
    background-color:  var(--green);
}
.footer-donate form{
    margin: 68px 0 44px 0;
}
.footer-ul-a{
    text-decoration: none;
    color: white;
}
.footer-ul-a:hover{
    color: var(--orang);
}
.footer-ul-a-active{
    color: var(--orang);
    pointer-events: none;
}
.footer-ul{
    padding: 0;
}
.footer-ul li{
    margin-right: 58px;
    list-style: none;
}
.footer-ul li:last-child{
    margin-right: 0;
}
.footer-menu{
    justify-content: end;
    align-items: center;
}
.footer-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-news h4{
    color: white;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 14px 0;
}
.footer-news-input{
    color: #a8a8a8;
    padding: 10px;
    border: 1px solid var(--orang);
    background-color: transparent;
    margin-right: 10px;
    border-radius: 5px;
}
.footer-news-button-ok{
    color: var(--green);
    border: 1px solid var(--green);
    padding: 10px 40px;
    border-radius: 5px;
}
.footer-news-button-error{
    color: var(--red);
    border: 1px solid var(--red);
    padding: 10px 40px;
    border-radius: 5px;
}
.footer-news-cop{
    align-self: flex-end;
}
.footer-news-cop p {
    color: white;
    font-weight: 300;
}

/*-------------------------------*/

.watch-don{
   height: 390px;
   background-image: url('/assets/images/giant-panda.jpg');
   background-size: cover;
}
.wrapper-pick-and-feed-don{    
    padding: 40px 0 180px 0;
    margin-bottom: 0;
}
.h3-don{
    color: white;
    font-size: 33px;
    margin: 0;
}
.h3-p-don{
    color: white;
    line-height: 140%;
}
.h3-don-info{
    color: #FE9013;
    margin: 40px 0 60px 0;
}
.wrapper-h2 h2{
    margin: 0;
}
.wrapper-counter-don{
    margin-top: 60px;
    margin-bottom: 45px;
}
.diet-for-day p{
    margin: 10px 10px 0 0;
}
.diet-for-day span{
    font-size: 72px;
    font-weight: bold;
    line-height: 80%;
}
.animal-don{
    margin-left: 60px;
}
.wrapper-step-bar{
    margin: 0 90px;
    
}
.step-bar{
    background-color: #404950;
    border-radius: 2px;
    height: 27px;
    padding: 0 30px;
}
.step-bar-line{
    background: #72828E;
    height: 2px;
    justify-content: space-between;
}
.step-bar-elipse{
    width: 10px;
    height: 10px;
    background-color: #FFEE2E;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.step-bar-elipse::after{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: -17px;
    left: -17px;
}
.step-bar-elipse-active, 
.step-bar-elipse-active-click{
    position: relative;
}
.step-bar-elipse-active::after,
.step-bar-elipse-active-click::after{
    content: '';
    border: solid 3px #FE9013;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    top: -7px;
    left: -7px;
}
.step-bar-elipse-active::before,
.step-bar-elipse-active-click::before{
    content: '';
    border: solid 3px #FE9013;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    top: -17px;
    left: -17px;
}

.step-bar-amount{
    justify-content: space-between;    
    padding-right: 15px;
    font-size: 26px;
    line-height: 140%;
    font-weight: bold;
    color: #333B41;
    margin-top: 12px;
    margin-bottom: 35px;
}
.step-bar-sum-active,
.step-bar-sum-active-click{
    color: #FE9013;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.another-amount{
    padding: 16px 9px;
    position: relative;
}
.another-amount input{
    font-size: 20px;
    padding: 16px 25px 16px 9px;
    border: #929699 solid 1px;
    background-color: transparent;
}
.another-amount span{
    color: #929699;
    font-size: 30px;
    font-weight: bold;
    position: absolute;    
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
.form-radio-hidden{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
  }
  .form-radio-hidden input{
    position: absolute;
    opacity: 0;
    display: block;
    height: 0;
    width: 0;
  }
  .form-radio-hidden .radio{
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #FE9013;
    cursor: pointer;
    transition: all 0.5s;
  }
  
  
  .form-radio-hidden:hover .radio{
    transform: scale(1.2);
    transition: all 0.5s;
  }
  
  
  .form-radio-hidden input:checked + .radio{
    border: 2px solid #FE9013;
  }
  
  .form-radio-hidden:hover .radio::before, .form-radio-hidden input:checked + .radio::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: rgb(158, 158, 158);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .form-radio-hidden input:checked + .radio::before{
    background-color: rgb(56, 56, 56);
  }
  .form-radio-hidden input + .radio + .text{
    color: #333B41;
    cursor: pointer;
    margin-right: 10px;
    align-self: center;
  }
  .mr50{
    margin-right: 50px;
  }

  .frequency{
    margin-top: 10px;
  }

.how-it-works-don form{
    margin: 30px 0 20px 0;
}
.last-p-don{
    padding-top: 0;
    padding-bottom: 40px;
}