@media(min-width: 320px) and (max-width: 639px) {
    body{
        overflow-x: hidden;
    }
    .container{
       width: 298px;
    } 
    header{
        height: 34px;
        position: fixed;
        width: 100%;
        z-index: 10;
    }
    .button-ellipse{
        letter-spacing: 0px;
        font-size: 15px;
    }
    .a-logo{
        display: none;
    }
    .a-logo.d-block-640{
        display: block;
        width: 46px;
        margin: 2px 0;
        transform: scale(1);
        transition: all 0.5s;
    }
    .a-logo.d-block-640 img{
        width: 46px;
    }
    .header-ul, .header-ul-a{
        display: none;
    }
    .burger-button{
        display: block;
        width: 18px;
        height: 10px;
        margin-bottom: 10px;
    }
    .burger-button img{
        width: 18px;
        height: 10px;
    }

    .watch{
        height: 223px;
    }
    .watch-elem{
        height: 121px;
        top: 50px;
        position: relative;
    }
    .watch-elem img{
        height: 121px;
        margin-top: -5px;
    }
    .watch-elem button{
        margin: 0;
        position: absolute;
        bottom: -110px;
    }

    .backstage-img{
        display: none;
    }

    .backstage{
        display: block;
        padding:60px 0 40px 0;  
    }
    .backstage-text{
        padding-left: 0;
        width: 298px;
    }
    .backstage-text-h2{
        margin-bottom: 0;
    }
    .backstage-text-h2 p{
        line-height: 130%;
        margin-top: 11px;
    }
    .backstage-text-h2 h2{
        margin-top: 43px;
        margin-bottom: 0px;
        margin-left: 0;
        font-size: 24px;
    }
    .backstage-text-sub h3{
        font-size: 24px;
        margin-top: 20px;
        letter-spacing: 0.5px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .backstage-text-sub p{
        margin-top: 0;
       line-height: 140%;
    }
    
    .flower_foto1{
        top: 40px;
    }
    .flower_foto1 img{
        height: 217px;
    }

.pets-wrapper-card{
    grid-template-columns: 1fr;
    row-gap: 20px;
}
.pets-card{
    width: 285px;
}
.pets-card-img{
    height: 285px;
    width: 285px;
}
.pets-card h5{
    font-size: 12px;
    line-height: 100%;
    margin-top: -5px;
    margin-bottom: 0;
}
.pets-description{    
    margin: 0 8px 0 14px;
}
.pets-description-text span{
    font-size: 12px;
}
.pets-description-feed{
    height: 40px;
}
.pets-description-feed img{
    width: 30px;
}
.pets-card-sloth,
.pets-card-cheetah,
.pets-card-penguin{
    display: none;
}
.pets-card-alligator-1000{
    display: block;
}
.pets-arrow{
    display: none;
}
.pets-arrow-right{
    right: 220px;
}
.pets-arrow-left{
    left: 225px;
}
.palm_foto img{
    height: 72px;
    width: auto;
}
.strelitzia_foto img{
    height: 71px;
    width: auto;
}
.wrapper-pets-relativ{
    position: relative;
    padding-bottom: 62px;
}
.pets-button-ellipse{
    margin-top: 22px;
}

.wrapper-pick-and-feed-don-640{    
    padding: 20px 0 20px 0;
    margin-bottom: 30px;
}
.container-640{
    width: 300px;
}
.pick-and-feed h2{
    font-size: 24px;
    padding-top: 20px;
    letter-spacing: 0px;
}
.pick-and-feed h4{
    font-size: 18px;
    margin: 12px auto 20px auto;
    width: 290px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
}
.p-none-320{
    display: none;
}
.how-it-works h3{
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}

.how-it-works-cards{
    flex-direction: column;
}
.how-it-works-card span{
    line-height: 130%;
}
.how-it-works-card:first-child{
    margin-top: 0;
    margin-bottom: 40px;
}
.how-it-works-card:last-child{
    margin-right: 0;
    margin-top: 40px;
}
.how-it-works-card{
    width: 165px;
    position: relative;
}
.how-it-works-card-img{
    width: 165px;
    height: 165px;
    margin-bottom: 10px;
}
.arrow-work{
    display: none;
}
.arrow-work-640{
    display: block;
    position: absolute;
    right: -60px;
    top: -50px;
    transform: rotate(85deg);
}
.how-it-works form{
     margin: 40px 0 40px 0;
}


.testimonials{
    margin-top: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 90px);
    row-gap: 35px;
}
.testimo-h3{
    margin-top: 5px;
    font-size: 24px;
    margin-bottom: 20px;
}
.testimonials-card{
    padding: 2px 15px 5px 10px;
    height: 95px;
}
.testimonials-card-1000{
    display: none;
}
.testimonials-card-logo{
    align-items: flex-start;
}
.testimonials-card-logo-tex{
    margin-top: 5px;
}
.testimonials-card-logo img{
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 37px;
    height: 37px;
}
.testimonials-card p {
    margin-left: 5px;
}
.testimonialsline-scroll{
    position: relative;
    width: 300px;
    opacity: 0;
    visibility: hidden;
}
.button-square-640{
   display: flex;
   justify-content: center;
}
.button-square{    
    margin-top: -15px;
    letter-spacing: 0px;
    font-size: 15px;
    width: 240px;
    padding: 18px 0;
}
.wrapper-relativ{
    position: relative;
    margin-top: 60px;
}
.wrapper-relativ img{
    position: absolute;
    right:0;
    bottom: -10px;
    width: 75px;
    transform: rotate(-15deg);
}


footer{
    padding:20px 0 50px 0;
}
.footer-container{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.block-320{
    display: block;
}
.none-320{
    display: none;
}
.grid-640-a{
    text-align: center;
    margin-bottom: 25px;
}
.footer-social.block-320{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 195px;
}
.footer-social{
    position: relative;
    right: 0;
    font-size: 0;
}
.footer-a{
    margin: 0 0 15px 0;
}
.footer-a-img{
    margin-right: 0;
}
.footer-donate form{
    margin: 30px 0 95px 0;
}
.footer-donate form input{
    width: 300px;
}
.footer-ul{
    margin-left: 10px;
    padding: 0;
}
.footer-ul li{
    margin-right: 30px;
    list-style: none;
}
.footer-menu{
    align-items: flex-start;
}
.footer-news{ 
    display: none;
}
.footer-news-cop-640{
    align-self: flex-end;
    color: white;
    display: block;
    position: absolute;
    font-size: 15px;
    bottom: 55px;
    right: 0;
    line-height: 90%;
}  
    /*----------------*/


.watch-don{
    height: 223px;
    background-size: 120%;
}
 .wrapper-1000 .wrapper-pick-and-feed{    
     padding: 25px 0 17px 0;
     border: solid transparent 2px;
 }
 .wrapper-1000 .h3-don{
     margin: 0 0 15px 0;
     line-height: 130%;
     font-size: 22px;
     letter-spacing: 0px;
     border: solid transparent 2px;
 }
 .wrapper-1000 .h3-p-don{
    letter-spacing: -0.1px;
    margin-bottom: 22px;
    border: solid transparent 2px;
}

.wrapper-1000 .h3-don-info{
    margin: 0 0 30px 0;
    font-size: 24px;
    border: solid transparent 2px;
}
 .pick-and-feed-don{
    padding: 0;
    border: solid transparent 2px;
    margin-bottom: 0;
 }
 .wrapper-h2-don{
    border: solid transparent 2px;
    margin-top: 15px;
    padding-left: 0;
 }
 .wrapper-1000 .wrapper-h2-don h2{
    border: solid transparent 2px;
    padding: 0;
    font-size: 24px;
    letter-spacing: 0;
     margin:0 0 2px 0;
 }
 .wrapper-1000 .pick-and-feed h4{
    border: solid transparent 2px;
    width: 300px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.5px;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
 }

 .wrapper-1000 .diet-for-day{
    width: 80px;
    margin-top:35px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    border: solid transparent 1px;
 }
 .wrapper-1000 .diet-for-day span{
    font-size: 40px;
 }
 .wrapper-1000 .diet-for-day p{
     margin: 10px 0 0 0;
     width: 100px;
     font-size: 8px;
 }
 .wrapper-counter-don{
    border: solid transparent 1px;
    justify-content: space-around;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
     width: 300px;
 }
 .wrapper-1000 .ixs{
    width: 20px;
    margin-top: 20px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 10px;
 }
 .ixs img{
    width: 10px;
    height: auto;
 }
 .animal-don{
    margin-left: 0;
    margin-top: 10px;
}
.animal-don img{    
    width: 160px;
}

.wrapper-step-bar h5{
    margin-top: -45px;
    margin-left: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}
 .wrapper-1000 .wrapper-step-bar{
     margin: 0 ;
 }
 .wrapper-1000 .step-bar-1000{
    display: none;
 }
 .step-bar-640{
    display: none;
}
.step-bar-elipse{
    width: 5px;
    height: 5px;
}
 .wrapper-1000 .step-bar{
     padding: 0 15px;
     height: 13px;
 }
 .wrapper-1000 .step-bar-amount{
    margin: 5px 5px 10px 5px;
    font-size: 14px;
}
 .wrapper-1000 .another-amount{
     padding: 16px 9px;
 }
 .wrapper-1000 .another-amount input{
     padding: 10px 15px 10px 10px;
     width: 150px;
     font-size: 16px;
 }
 .another-amount span{
    font-size: 20px;
 }
 .wrapper-1000 .mr50{
   margin-right: 40px;
 }
 .wrapper-1000 .frequency{
   margin-top: 10px;
 }
 .wrapper-1000 .how-it-works-don form{
     margin: 20px 0 35px 0;
 }
 .last-p-don{
    padding-bottom: 20px;
 }
 .wrapper-1000 .last-p-don p{
    margin: 0;
    font-size: 16px;
    letter-spacing: -0.2px;
 }

}
