@font-face {
    font-display: swap;
    font-family: 'ff';
    font-style: normal;
    font-weight: 400;
    src: url('20011.ttf');
}

.op {
    border: 1px solid rgb(82, 239, 100);
}

body {
    letter-spacing: 0.5px;
    font-family: 'ff';
    box-sizing: border-box;
    font-size: 18px;
}

.section_wrap {
    transition: 0.5s all;
}

.section_vis {
    display: block;
}

.section_dis {
    display: none;
}

.topic_nav .container {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: 0 auto;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 0.1px;
}

h1 {
    text-align: center;
    margin: 50px 0 30px 0;
}

.topic_nav {
    margin: 0 auto;
}

.btn-topic_nav {
    min-width: 150px;
    height: 35px;
    background-color: rgb(223, 223, 223);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: inset 0 0 10px black;
    transition: 0.3s all;
}

.btn-topic_nav:hover {
    transform: translateY(-5px);
}

.btn-topic_nav:active {
    transform: translateY(5px);
    box-shadow: inset 0 0 15px black;
}



ul>li {
    margin: 5px;
}

p {
    margin: 0 0 5px 0;
}

.question p {
    font-size: 24px;
    display: block;
    margin: 10px;
    font-weight: 600;
}
.answer{
    margin-bottom: 20px;
}
.answer span {
    font-weight: 600;
}

#field{
    width: 200px;
    height: 200px;
}

@media (max-width:768px) {
    body {
        letter-spacing: 0.3px;
        font-size: 16px;
    }
    .btn-container{
        display: flex;
        flex-wrap: wrap;
    }
    .container {
        width: 95%;
    }
    .question p {
        font-size: 20px;
    }
    ul{
        padding: 0 0 0 10px;
    }
}